* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    width: 1300px;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

ul {
     list-style: none;
     display: inline-block;
}

a {
    text-decoration: none;
}

button {
     box-shadow: none;
     border-style: none;
}

 h1,
 h3 {
     text-transform: uppercase;
     padding: 25px;
 }

 h4 {
     font-weight: normal;
 }

 