footer {
    background-color: black;
    color: $white;

   
      a {
          color: $white;
      }
}

.footer-top {
    @include displayFlex(space-around, no-wrap);
    align-items: flex-start;
    padding: 20px 150px;
    img {
        padding-top: 40px;
    }
    ul {
        padding: $pdpage;
        li {
            padding: $pdpage;
        }
    }
    i  {
        font-size: 30px;
        padding: $pdpage - 5px;
        
    }
}

.footer-bottom {
    text-align: left;
    margin: auto;
    padding:  50px 150px;
    p {
        color: $gray;
    }
}