footer {
    background-color: black;
    color: $white;

   
      a {
          color: $white;
      }
}

.footer-top {
    display: inline-block;
    padding: 20px;

  
}

.footer-bottom {
    text-align: center;
    padding: 20px;

}