header {
    background-color: $mustard;
    position: fixed;
    width: 100%;
    z-index: 19;
}

.header-top {
    text-align: center;
    padding: 18px;
    height: 100%;
    color: $white;

    img {
        height: 28px;

    }
}

.header-bottom {
    background-color: $purple;
    width: 100%;
    text-align: center;
     
    li {
        display: inline-block;
        color: white;
        padding:  15px 35px;
        font-size: 14px;
        font-weight: 200;
        
        a{
            color: white;
        }
        
    
}

.show-xs {
    @include displayFlex( space-around, no-wrap);
}}