//first section --- jumbotrone
.yellow-bg {
    padding: 150px 0 100px 0;
    background-color: $mustard;
    height: 100%;
}

#img-jumbotrone {
    float: right;
    height: 500px;
    object-fit: contain;
}

.balloon {
    background-color: $white;
    z-index: 9;
    text-align: center;
    width: 303px;
    height: 45%;
    padding: 25px;
    line-height: 1.2;
    position: absolute;
    left: 175px;
    top: 50%;
    transform: translateY(-50%);
    color: $purple;
    border-radius: 10px;
    
    p {
        padding: 10px;
    }
    
    img {
         text-align: center;
         padding: 10px;
         height: 70px;
    }
}

//second yellow section
.yellow-section {
    background-color: $mustard;
    text-align: center;
    color: $purple;
    padding: $pdpage;
    img {
        padding: $pdpage;
    }
}